<section id="main" data-transition="">
  <header data-title="Middleman & Lungo"></header>
  <article class="active list scroll">
    <ul class="links">
      <li class="selectable arrow">
        <%= link_to "Read Middleman Documentation", "http://middlemanapp.com/" %>
      </li>
      <li class="selectable arrow">
        <%= link_to "Read Lungo Documentation", "http://lungo.tapquo.com/" %>
      </li>
    </ul>
  </article>
</section>
